---
import App from "../components/App.jsx";
import Layout from "../layouts/Layout.astro";
import {
  getBlogPost,
  getNewsPost,
  getCategories,
  getGeneralInfo,
} from "../sanity/api.js";

const blogData = await getBlogPost();
const newsData = await getNewsPost();
const generalInfoData = await getGeneralInfo();
const categoryData = await getCategories();
console.log(blogData[0], "--blogData");
console.log(newsData[0], "--blogData");
---
<h1>
  Testing
</h1>
<Layout>
  <App
    client:only="react"
    blogData={blogData}
    newsData={newsData}
    generalInfoData={generalInfoData}
    categoryData={categoryData}
  />
</Layout>
